@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --socca-gradient: linear-gradient(137deg, rgba(186, 156, 66, 1) 0%, rgba(246, 235, 133, 1) 50%, rgba(186, 156, 66, 1) 100%);
    --image-size: 25vw;
    /* Size of images */
    --font-size: 4vw;
    /* Base font size */
}

@media screen and (min-width: 600px) {
    :root {
        --image-size: 20vw;
        /* Size of images */
        --font-size: 2vw;
        /* Base font size */
    }

    .label {
        font-size: 19px !important;
    }

    .player-card span {
        font-size: 19px !important;
        max-width: 510px !important;
        max-height: 45px !important;
    }

    .player-card {
        padding-top: 27px !important;
        height: 100vh !important;
        max-width: 590px !important;
        gap: 17px !important;
    }

    #player-image,
    #health-image {
        max-width: 170px !important;
        max-height: 170px !important;
    }

    #socca-logo {
        max-width: 170px !important;
    }

    #player-name,
    #vercsoport,
    #erzekenyseg {
        max-width: 510px !important;
        padding: 8.5px !important;
    }

    #player-avail,
    #player-number {
        max-width: 240px !important;
        padding: 8.5px !important;
    }

    #status-green,
    #status-red {
        max-width: 510px !important;
        padding: 8.5px !important;
    }

    #bottom-image {
        max-width: 586px !important;
    }

    .news-item {
        width: 500px !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#news-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Hide scrollbar for Firefox */
#news-container::-webkit-scrollbar {
    width: 0;
}

/* Hide scrollbar for IE, Edge, and Safari */
#news-container {
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
#news-container {
    overflow: -moz-scrollbars-none;
}

.news-item {
    background-color: #010101;
    padding: 10px;
    border: 0.2vw solid rgb(186, 156, 66);
    font-size: 14pt;
}

.news-item .news-date {
    opacity: .6;
    font-style: italic;
}

body,
.carousel,
.carousel-item {
    background-color: #000;
    font-family: "Kanit", sans-serif;
}

.label,
.news-item h3 {
    font-weight: bold;
    font-size: var(--font-size);
    /* Adjust font size using custom variable */
    background: rgb(186, 156, 66);
    background: var(--socca-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.news-item h3 {
    font-size: 26pt;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    /* Adjust gap using vw */
    background-color: #000;
    border: 0.2vw solid rgb(186, 156, 66);
    /* Adjust border thickness using vw */
    max-width: 70vw;
    /* Set maximum width using vw */
    width: 100%;
    max-height: 80vh;
    height: 70vh;
    margin: auto;
    /* Center the card horizontally */
    padding-top: 5vh;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* Adjust gap using vw */
    margin-top: 1vw;
    /* Adjust margin using vw */
}

#player-image,
#health-image {
    background-color: #fff;
    width: var(--image-size);
    /* Use custom variable for image size */
    height: var(--image-size);
    /* Use custom variable for image size */
    object-fit: cover;
}

#socca-logo {
    width: var(--image-size);
    /* Use custom variable for image size */
}

.group-lt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#player-name,
#vercsoport,
#erzekenyseg {
    background-color: #fff;
    color: #000;
    padding: 1vw;
    /* Adjust padding using vw */
    width: 60vw;
    /* Adjust width using vw */
    max-width: 70vw;
    /* Set maximum width using vw */
    font-size: var(--font-size);
    /* Adjust font size using custom variable */
    text-align: center;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    /* Adjust gap using vw */
}

#player-avail,
#player-number {
    background-color: #fff;
    color: #000;
    padding: 1vw;
    /* Adjust padding using vw */
    width: 30vw;
    /* Adjust width using vw */
    max-width: 28vw;
    /* Set maximum width using vw */
    font-size: var(--font-size);
    /* Adjust font size using custom variable */
    text-align: center;
}

.bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-green,
#status-red {
    background-color: #fff;
    width: 60vw;
    /* Adjust width using vw */
    padding: 1vw;
    /* Adjust padding using vw */
    max-width: 70vw;
    /* Set maximum width using vw */
    font-size: var(--font-size);
    /* Adjust font size using custom variable */
    text-align: center;
}

#status-green {
    background-color: rgb(0, 200, 0);
}

#status-red {
    background-color: rgb(200, 0, 0);
}

#bottom-image {
    max-width: 69vw;
    /* Adjust width using vw */
    margin-top: auto;
}