@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root variables */
:root {
    --socca-gradient: linear-gradient(137deg, rgba(186, 156, 66, 1) 0%, rgba(246, 235, 133, 1) 50%, rgba(186, 156, 66, 1) 100%);
    --image-size: 30vw; /* Size of images */
    --font-size-mobile: 4vw; /* Base font size for mobile */
    --font-size-desktop: 25px; /* Base font size for desktop */
}

/* Reset margins, paddings, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body and font styling */
body, .carousel, .carousel-item {
    background-color: #000;
    font-family: "Kanit", sans-serif;
}

/* Hide scrollbar for various browsers */
#news-container::-webkit-scrollbar {
    width: 0;
}

#news-container {
    scrollbar-width: none;           /* IE, Edge, and Safari */
    overflow: -moz-scrollbars-none;  /* Firefox */
}

/* News container styling */
#news-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* News item styling */
.news-item {
    background-color: #010101;
    padding: 10px;
    border: 0.2vw solid rgb(186, 156, 66);
    font-size: 16px;
}

.news-item .news-date {
    opacity: .6;
    font-style: italic;
}

/* Label and heading styling */
.label, .news-item h3 {
    font-weight: bold;
    background: var(--socca-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.news-item h3 {
    font-size: 24px;
}

/* More news button styling */
#more_news_btn {
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 100px;
    padding: 10px 30px;
    color: gray;
    font-size: 16px;
}

/* Player card styling */
.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw; /* Adjust gap using vw */
    background-color: #000;
    border: 0.2vw solid rgb(186, 156, 66); /* Adjust border thickness using vw */
    max-width: 70vw; /* Set maximum width using vw */
    width: 100%;
    max-height: 90vh;
    height: 70vh;
    margin: auto; /* Center the card horizontally */
    padding-top: 5vh;
}

.top, .mid, .bot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw; /* Adjust gap using vw */
    margin-top: 1vw; /* Adjust margin using vw */
}

.group-lt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#player-image, #health-image {
    background-color: #fff;
    width: var(--image-size); /* Use custom variable for image size */
    height: var(--image-size); /* Use custom variable for image size */
    object-fit: cover;
}

#socca-logo {
    width: 110px;
}

#player-name, #vercsoport, #erzekenyseg, #player-avail, #player-number, #status-green, #status-red {
    background-color: #fff;
    color: #000;
    padding: 1vw; /* Adjust padding using vw */
    width: 60vw; /* Adjust width using vw */
    max-width: 70vw; /* Set maximum width using vw */
    font-size: var(--font-size-mobile); /* Adjust font size using custom variable */
    text-align: center;
    font-weight: bold;
}

#player-name {
    margin-top: 20px;
}

#player-avail, #player-number {
    max-width: 120px;
}

#status-green {
    background-color: rgb(0, 200, 0);
}

#status-red {
    background-color: rgb(200, 0, 0);
}

#bottom-image {
    max-width: 69vw; /* Adjust width using vw */
    margin-top: auto;
}

.news-item {
    width: 500px;
}

.news-summary {
    font-weight: bold;
}

/* Media query for larger screens */
@media screen and (min-width: 600px) {
    .player-card span, #player-name, #vercsoport, #erzekenyseg, #player-avail, #player-number, #status-green, #status-red {
        font-size: var(--font-size-desktop);
        max-width: 510px;
    }

    .label {
        font-size: 25px;
    }

    .player-card {
        padding-top: 27px;
        height: 100vh;
        max-width: 590px;
        gap: 17px;
    }

    #player-image, #health-image {
        max-width: 170px;
        max-height: 170px;
    }

    #socca-logo {
        width: 150px;
    }

    #player-name, #vercsoport, #erzekenyseg {
        padding: 10px;
        font-size: 30px;
    }

    #player-avail, #player-number {
        max-width: 240px;
        padding: 10px;
    }

    #status-green, #status-red {
        padding: 8.5px;
    }

    #bottom-image {
        max-width: 586px;
    }
}
