@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --socca-gradient: linear-gradient(137deg, rgba(186, 156, 66, 1) 0%, rgba(246, 235, 133, 1) 50%, rgba(186, 156, 66, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: "Kanit", sans-serif;
}

.label {
    font-weight: bold;
    font-size: 20pt;
    background: rgb(186, 156, 66);
    background: var(--socca-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #000;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}

#player-image {
    background-color: #fff;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

#socca-logo {
    width: 150px;
}

.group-lt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#player-name {
    background-color: #fff;
    padding: 8px;
    width: 90vw;
    max-width: 450px;
    font-size: 16pt;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#player-avail,
#player-number {
    background-color: #fff;
    padding: 8px;
    width: 40vw;
    max-width: 205px;
    font-size: 16pt;
    text-align: center;
}

.bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-green,
#status-red {
    background-color: #fff;
    width: 90vw;
    padding: 8px;
    max-width: 450px;
    font-size: 16pt;
    text-align: center;
}

#status-green {
    background-color: rgb(0, 200, 0);
}

#status-red {
    background-color: rgb(200, 0, 0);
}

#bottom-image {
    width: 450px;
    margin-top: auto;
}